*~
*.pyc
.idea
.DS_Store
*.p12
*.pem
*.der

*/bower_components
*/node_modules
*/lib
*/sources
*/public

#library source
*.zip

#client_secret
default/application/client_secret.json

#recipient txt
tasks/*.csv
tasks/debug
